@font-face {
    src: url(../fonts/URWGeometricArabic-Medium.ttf);
    font-family: 'content-arabic';
}

@font-face {
    src: url(../fonts/URWGeometricArabic-Bold.ttf);
    font-family: 'heading-arabic';
}

body {
    direction: rtl;
    font-size: 16px;
    font-family: 'content-arabic';
    color: black;
    text-align: right;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'heading-arabic';
}

/* Header */
header.top__header {
    background-image: url(../images/repiare-home.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 850px;
    position: relative;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    min-height: 850px;
}

.custom-shape-divider-bottom-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-bg svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-bg .shape-fill {
    fill: #FFFFFF;
}

button.navbar-toggler {
    background: orange;
}

header.top__header nav .navbar-brand img {
    height: 45px;
}

header.top__header nav ul li {
    margin-left: 18px;
}

header.top__header nav ul li a {
    color: #FFFFFF;
    font-size: 18px;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

header.top__header nav ul li a.active {
    border: 1px solid #fda810;
    border-radius: 25px;
}

header.top__header nav ul li a:hover {
    color: #fda810;
}

.content-reading {
    margin-top: 150px;
}

header.top__header h2.custom-heading {
    color: #fda810;
    margin: 40px 0;
}

.text-content p {
    color: #fff;
    font-size: 20px;
}

.download-app {
    margin-top: 50px;
}

.download-app a {
    margin-left: 40px;
    background-color: #fda810;
    padding: 20px 15px;
    text-align: center;
    border-radius: 50px;
    box-shadow: 0 0 1px #ccc;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: linear;
    box-shadow: 0px 0 0 #1960AE inset;
}

.download-app a:hover {
    -webkit-box-shadow: -350px 0 0 #1960AE inset;
}

.download-app a.custom-button p.btn {
    color: #fff;
}

.download-app a.custom-button {
    margin-left: 40px;
    background-color: #1960AE;
    padding: 20px 15px;
    text-align: center;
    border-radius: 50px;
    box-shadow: 0 0 1px #ccc;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: linear;
    box-shadow: 0px 0 0 #fda810 inset;
}

.download-app a.custom-button:hover {
    -webkit-box-shadow: -350px 0 0 #fda810 inset;
}

.download-app a p {
    font-size: 22px;
}

.download-app a p:hover {
    color: #fff;
}

.download-app a i {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    margin-left: 10px;
    padding-top: 10px;
}

/* Section About */
.title-section h2.custom-title {
    margin-top: 45px;
}

.line-solid {
    border-bottom: 2px solid orange;
    width: 265px;
    margin: auto;
    padding-top: 10px;
}

section.about .how-it-shadow {
    background-color: #fff;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
    padding: 50px 80px;
    border-top: 5px solid orange;
    border-bottom: 5px solid orange;
    border-radius: 25px;
    margin: 35px 0;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

section.about .how-it-shadow:hover {
    border-color: #1960AE;
}

section.about .icon-pres img {
    height: 150px;
    margin-bottom: 30px;
}

section.features {
    position: relative;
    background: linear-gradient(360deg, #f7a519, #3b6ab1);
    padding: 150px 0 40px;
}

.custom-shape-divider-top-features {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-features svg {
    position: relative;
    display: block;
    width: calc(179% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-features .shape-fill {
    fill: #FFFFFF;
}

section.features .title-features {
    color: #fff;
}

section.features .fearured-app {
    position: relative;
    background-color: #fff;
    padding: 30px 40px;
    margin: 30px 0;
    border-radius: 15px;
    border-top: 4px dashed #fda810;
}

section.features .fearured-app:hover {
    border-top: 4px solid #f7a519;
}

section.features .fearured-app .icon-featured img {
    height: 80px;
    margin: 25px 0;
}

section.features .fearured-app .custom-title h4 {
    margin-bottom: 15px;
    color: #363636;
}

section.features .paragraph-marketing p {
    color: rgb(224, 224, 224);
}

section.features .contant-text p {
    margin-bottom: 40px;
}

section.features .fearured-app .number-bottom h3 {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 0;
    padding: 5px 15px;
    background-color: #fda810;
    color: #fff;
    border-top-right-radius: 5px;
    border-bottom: 2px solid #1960AE;
    transition: all .5s ease-in-out;
}

section.features .fearured-app .number-bottom h3:hover {
    background-color: #1960AE;
    border-color: #8abdf3;
}

.line-solid-features {
    border-bottom: 2px solid orange;
    width: 190px;
    margin: auto;
    padding-top: 10px;
}

section.services .card-services {
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 40px 25px;
    margin: 30px 0;
    border-top: 3px outset #1960AE;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}

section.services .card-services:hover {
    background-color: rgb(243, 243, 243);
    border-color: #fda810;
    cursor: pointer;
}

section.services .card-services .number h3 {
    margin-bottom: 20px;
    background-color: #fda810;
    border-radius: 50px;
    color: white;
    padding: 12px;
    font-size: 30px;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: linear;
    box-shadow: 0px 0 0 #1960AE inset;
    transition: all 0.5s ease-in-out;
}

section.services .card-services .number h3:hover {
    background-color: #1960AE;
    color: #FFFFFF;
    -webkit-box-shadow: -350px 0 0 #1960AE inset;
}

section.services .card-services .text-description P {
    margin-top: 15px;
}

section.contact-me {
    position: relative;
    background-image: url(../images/contact-me.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 300px;
    margin-top: 50px;
}

.custom-shape-divider-top-contact {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-contact svg {
    position: relative;
    display: block;
    width: calc(180% + 1.3px);
    height: 25px;
}

.custom-shape-divider-top-contact .shape-fill {
    fill: #FFFFFF;
}

section.contact-me .overlay-me {
    background-color: #ffa200b4;
    min-height: 300px;
    padding: 115px 0 0;
}

section.contact-me .title-heading h3 {
    margin-bottom: 20px;
    color: #313131;
}

section.contact-me .text-contact p {
    font-size: 18px;
    color: #000000;
    font-weight: 500;
    margin-bottom: 35px;
}

section.contact-me .contact-whatsapp a {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #1960AE;
    padding: 15px 30px;
    border-radius: 50px;
    font-size: 20px;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: linear;
    box-shadow: 0px 0 0 #1960AE inset;

}

section.contact-me .contact-whatsapp a:hover {
    -webkit-box-shadow: -350px 0 0 #2AB200 inset;
}

section.contact-me .contact-whatsapp a i {
    margin-left: 5px;
    font-size: 24px;
}

footer.footer-bottom {
    background-color: #f8a311;
}

footer.footer-bottom .copyright p {
    margin-bottom: 0;
    padding: 10px 0;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

/* Responsive Page */
@media (min-width: 320px) and (max-width: 575.98px) {
    ul.navbar-nav.me-auto {
        margin-top: 20px;
    }

    header.top__header nav ul li a {
        padding-right: 15px !important;
    }

    .custom-shape-divider-bottom-bg svg {
        height: 30px;
    }

    .download-app a p {
        font-size: 18px;
    }

    .download-app a i {
        font-size: 26px;
    }

    .download-app a {
        background-color: #fda810;
        padding: 15px 5px;
        margin-left: 0;
    }

    .download-app a.custom-button {
        background-color: #1960AE;
        padding: 15px 5px;
        margin-left: 0;
    }

    .line-solid {
        width: 200px;
    }

    section.about .how-it-shadow {
        padding: 25px 10px;
    }

    section.about .icon-pres img {
        height: 100px;
        margin-bottom: 25px;
    }

    h3.custom-title-how {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .line-solid-features {
        width: 145px;
    }

    .contact-whatsapp.text-center {
        margin-bottom: 60px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    ul.navbar-nav.me-auto {
        margin-top: 20px;
    }

    header.top__header nav ul li a {
        padding-right: 15px !important;
    }

    section.about .icon-pres img {
        height: 100px;
        margin-bottom: 20px;
    }

    h3.custom-title-how {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .contact-whatsapp.text-center {
        margin-bottom: 60px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    ul.navbar-nav.me-auto {
        margin-top: 20px;
    }

    header.top__header nav ul li a {
        padding-right: 15px !important;
    }

    section.about .how-it-shadow {
        padding: 20px;
    }

    h3.custom-title-how {
        font-size: 20px;
        margin-bottom: 20px;
    }

    section.about .icon-pres img {
        height: 100px;
        margin-bottom: 20px;
    }

    .contact-whatsapp.text-center {
        margin-bottom: 60px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    section.about .how-it-shadow {
        padding: 40px 25px;
    }

    section.features .fearured-app {
        padding: 30px 20px;
    }

    section.services .card-services {
        padding: 40px 20px;
    }

    .contact-whatsapp.text-center {
        margin-bottom: 80px;
    }
}

@media (min-width: 1200px) {
    /* Responsive Good */
}