{% extends 'base.html' %}
{% block body %}
<section class="demandRight boxs">
    <div class="content-wrapper">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="demandInner boxs">
        <h2 class="main">Add SubAdmin
        </h2>

        <div class="formDett padding-25 bgWhite">
            <form method="post">
                {% csrf_token %}
                <div class="row">

                    <div class="col-sm-6">
                        <div class="form-group formGroup">
                            <label for="" class="labelel"></label>
                            <input type="text" class="form-control formControl" name="full_name" required
                                   placeholder="Name">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group formGroup newSelect">
                            <!--                            <label for="" class="labelel"></label>-->
                            <!--                            <input type="text" class="form-control formControl" name="can_manage_dashboard" required placeholder="UserId">-->
                            <select class="mySelect for" multiple="multiple" name="access_rights"
                                    style="width: 100%"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group formGroup">
                            <label for="" class="labelel"></label>
                            <input type="email" class="form-control formControl" name="email" required
                                   placeholder="Email">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group formGroup">
                            <label for="" class="labelel"></label>
                            <input type="number" class="form-control formControl" name="phone_number" required
                                   placeholder="Phone Number">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group formGroup">
                            <label for="" class="labelel"></label>
                            <input type="password" class="form-control formControl" name="password" required
                                   placeholder="Password">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group formGroup">
                            <label for="" class="labelel"></label>
                            <input type="password" class="form-control formControl" name="confirm_password"
                                   placeholder="Confirm Password">
                        </div>
                    </div>

                    <div class="CommonBtn CommonBtn2 boxs">
                        <button class="btns" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<script>
var data = ["Can Manage User", "Can Manage Order", "Can Manage Provider", "Can Manage Category", "Can Manage Sub Category","Can Manage Services","Can Manage Subadmin","Can Manage Top Services","Can Manage Coupons"];
var placeholder = "select";
$(".mySelect").select2({
data: data,
placeholder: placeholder,
allowClear: false,
minimumResultsForSearch: 5
});



</script>
<script>
    $('select').selectpicker();



</script>
{% endblock body %}