<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="content-wrapper">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade in" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}
</div>
<div>
<option value="">Select Provider</option>
{% for ad in service_provider %}
<option value="{{ ad.pk }}">{{ ad.email }} | {{ad.full_name}}</option>
{% endfor %}
</div>
</body>
</html>