<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ondemand | Confirmation Mail</title>
    <!-- Bootstrap -->
    <link href="img/fav.png" rel="icon" type="icon/image">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <!-- <link href="css/reset.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <section class="login boxs">
        <div class="loginInner">
            <div class="logo">
                <img src="img/logo.png" alt="logo" class="img-fluid">
            </div>
            <div class="logoContent">
                <div class="clicked">
                    <span><i class="fas fa-check"></i></span>
                </div>
                <h2 class="head">Dear TechAdmin</h2>
                <p class="head">A verification link has been send to your email account</p>
                <p class="head">Please click on the link that has been sent to your email address to verify your account and then set
                    your new password.</p>
                <form action="">
        
                    <div class="checkBox">

                       
                            <div class="forgetPass">
                                <a href="login.html">Back To Login</a>
                            </div>
                        </form>
                    </div>
            
            </div>
        </div>
    </section>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/custom.js"></script>
</body>

</html>