{% extends 'base.html' %}
{% block body %}
<section class="demandRight boxs">
    <div class="demandInner boxs">

        <h2 class="main">Edit Sub-Admin
        </h2>

        <div class="formDett padding-25 bgWhite">
            <form method="post">
                {% csrf_token %}
                <div class="row">

                    <div class="col-sm-6">
                        <div class="form-group formGroup">
                            <label for="" class="labelel"></label>
                            <input type="text" class="form-control formControl" name="full_name" placeholder="Name"
                                   value="{{object.full_name}}">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group formGroup">
                            <label for="" class="labelel"></label>
                            <input type="email" class="form-control formControl" name="email" placeholder="Email"
                                   value="{{object.email}}">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group formGroup">
                            <label for="" class="labelel"></label>
                            <input type="number" class="form-control formControl" name="phone_number" placeholder="Phone Number"
                                   value="{{object.phone_number}}">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group formGroup newSelect">
                            <!--                            <label for="" class="labelel"></label>-->
                            <!--                            <input type="text" class="form-control formControl" name="can_manage_dashboard" required placeholder="UserId">-->
                            <select class="mySelect for" multiple="multiple" name="access_rights"
                                    style="width: 100%"></select>
                        </div>
                    </div>
<!--                    <div class="col-sm-6">-->
<!--                        <div class="form-group formGroup">-->
<!--                            <label for="" class="labelel"></label>-->
<!--                            <input type="text" class="form-control formControl" placeholder="Password">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-sm-6">-->
<!--                        <div class="form-group formGroup">-->
<!--                            <label for="" class="labelel"></label>-->
<!--                            <input type="text" class="form-control formControl" placeholder="Confirm Password">-->
<!--                        </div>-->
<!--                    </div>-->


                    <div class="CommonBtn CommonBtn2 boxs">
                        <button class="btns">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="main">Block/UnBlock User</h2>
                <p class="head">Are you sure you want to Approve this Member ?</p>
                <ul class="allBtns">
                    <li><a href="#0" class="btns">Block</a></li>
                    <li><a href="#0" class="btns">Unblock</a></li>
                </ul>
            </div>

        </div>

    </div>
</div>
<script>
var data = ["Can Manage User", "Can Manage Order", "Can Manage Provider", "Can Manage Category", "Can Manage Sub Category","Can Manage Services","Can Manage Subadmin","Can Manage Top Services","Can Manage Coupons"];
var placeholder = "select";
$(".mySelect").select2({
data: data,
placeholder: placeholder,
allowClear: false,
minimumResultsForSearch: 5
});

</script>
<script>
    $('select').selectpicker();

</script>
{% endblock body %}