
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Ondemand | Forgot Password</title>
	<!-- Bootstrap -->
    <link href="img/fav.png" rel="icon" type="icon/image">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <!-- <link href="css/reset.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
<section class="login boxs">
    <div class ="loginInner">
        <div class="logo">
            <img src="img/logo.png" alt="logo" class="img-fluid">
        </div>
        <div class="logoContent">
            <h2 class="head">Forgot Password</h2>
            <p class="head">Dear Admin,Please enter your registered email-id
                we'll send the verification link on your email-id.</p>
                <form action="confirm.html">
                <div class="form-group formGroup">
                    <label for="" class="labelel"></label>
                    <input type="email" class="form-control formControl" placeholder="Email ID">
                </div>
       
                <div class="checkBox">
            
                      
        <div class="forgetPass">
            <a href="login.html">Back To Login</a>
        </div>
                        
                      </div>
               <div class="footerSubmit">
                <button class="btns" type="submit" value="confirm.html">Submit</button>
               </div>
            </form>
        </div>
    </div>
</section>
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/custom.js"></script>
</body>

</html>
