{% extends 'base.html' %}
{% block body %}
<section class="demandRight boxs">
    <div class="demandInner boxs">
        <div class="AddService">
            <h2 class="main"> My Profile
            </h2>
            <div class="boxs padding-25 bgWhite">
                <div class="row">

                    <div class="col-sm-6">
                        <div class="form-group formGroup">
                            <label for="" class="labelel"></label>
                            <input type="text" class="form-control formControl" placeholder="Joined Date">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group formGroup">
                            <label for="" class="labelel"></label>
                            <input type="text" class="form-control formControl" placeholder="Manager">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group formGroup">
                            <label for="" class="labelel"></label>
                            <input type="text" class="form-control formControl" placeholder="First Name">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group formGroup">
                            <label for="" class="labelel"></label>
                            <input type="text" class="form-control formControl" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group formGroup">
                            <label for="" class="labelel"></label>
                            <input type="email" class="form-control formControl" placeholder="Mail">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group formGroup">
                            <label for="" class="labelel"></label>
                            <input type="number" class="form-control formControl" placeholder="Phone Number">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group formGroup">
                            <label for="" class="labelel"></label>
                            <input type="date" class="form-control formControl" placeholder="D.O.B">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group formGroup">
                            <label for="" class="labelel"></label>
                            <input type="text" class="form-control formControl" placeholder="Home Address">
                        </div>
                    </div>

                    <div class="CommonBtn CommonBtn2 boxs">
                        <button class="btns">Submit</button>

                    </div>

                </div>
            </div>
        </div>

    </div>
</section>
{% endblock body %}