{% extends 'base.html' %}
{% block body %}
<script>
    var protocol = window.location.protocol
    var hostname = window.location.hostname
    var port = window.location.port
    var url = protocol + "//" + hostname + ":" + port + "/adminpanel" + "/read-notification" + "/"
    console.log(url)
    fetch(url)
      .then(function (response) {
        return response;
      })
      .then(function (myJson) {
        console.log(myJson)
      })
      .catch(function (error) {
        console.log("Error: " + error);
      });








</script>

<section class="demandRight boxs">
    <div class="demandInner boxs">
        <div class="AddService">
            <h2 class="main"> Notification
            </h2>

        </div>
        <div class="tableList boxs bgWhite">
            <div class="notifcationList">
                <ul>
                    {% for obj in object_list %}
                    <li>
                        {% if obj.title == 'New User Registration' %}
                        <div class="iconLeft">
                            <span><i class="fa  fa-shopping-cart fa-2x"></i></span>
                        </div>
                        {% elif obj.title == 'New Booking Request' %}
                        <div class="iconLeft">
                            <span><i class="fa fa-dollar-sign fa-2x"></i></span>
                        </div>
                        {% elif obj.title == 'Booking Update' %}
                        <div class="iconLeft">
                            <span><i class="fa fa-wrench fa-2x"></i></span>
                        </div>
                        {% endif %}
                        <div class="iconContent2">
                            <h2>{{obj.title}}</h2>
                            <p class="time">{{obj.created_at}}</p>
                            <p class="para1">{{obj.body}}</p>
                        </div>
                    </li>
                    {% endfor %}

                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock body %}