{% extends 'base.html' %}
{% block body %}
<section class="demandRight boxs">
    <div class="demandInner boxs">
        <div class="AddService">
            <h2 class="main"> Notification
            </h2>

        </div>
        <div class="tableList boxs bgWhite">
            <div class="notifcationList">
                <ul>
                    <li>
                        <div class="iconLeft">
                            <span><i class="fa  fa-shopping-cart fa-2x"></i></span>
                        </div>
                        <div class="iconContent2">
                            <h2>New order received</h2>
                            <p class="time">3 days ago</p>
                            <p class="para1">Notification in case of any new order received.</p>
                            <p class="para2">Donec id elit non mi porta.</p>
                        </div>
                    </li>
                    <li>
                        <div class="iconLeft">
                            <span><i class="fa  fa-user fa-2x"></i></span>
                        </div>
                        <div class="iconContent2">
                            <h2>New order received</h2>
                            <p class="time">3 days ago</p>
                            <p class="para1">Notification in case of any new order received.</p>
                            <p class="para2">Donec id elit non mi porta.</p>
                        </div>
                    </li>
                    <li>
                        <div class="iconLeft">
                            <span><i class="fa  fa-shopping-cart fa-2x"></i></span>
                        </div>
                        <div class="iconContent2">
                            <h2>New order received</h2>
                            <p class="time">3 days ago</p>
                            <p class="para1">Notification in case of any new order received.</p>
                            <p class="para2">Donec id elit non mi porta.</p>
                        </div>
                    </li>
                    <li>
                        <div class="iconLeft">
                            <span><i class="fa  fa-shopping-cart fa-2x"></i></span>
                        </div>
                        <div class="iconContent2">
                            <h2>New order received</h2>
                            <p class="time">3 days ago</p>
                            <p class="para1">Notification in case of any new order received.</p>
                            <p class="para2">Donec id elit non mi porta.</p>
                        </div>
                    </li>
                    <li>
                        <div class="iconLeft">
                            <span><i class="fa  fa-shopping-cart fa-2x"></i></span>
                        </div>
                        <div class="iconContent2">
                            <h2>New order received</h2>
                            <p class="time">3 days ago</p>
                            <p class="para1">Notification in case of any new order received.</p>
                            <p class="para2">Donec id elit non mi porta.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock body %}