{% extends 'base.html' %}
{% block body %}
<section class="demandRight boxs">
        <div class="content-wrapper">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="demandInner boxs">
        <div class="AddService">
            <h2 class="main">Change Password for user {{provider_name}}
            </h2>
            <div class="boxs padding-25 bgWhite">
                <div class="row">
                    {% if form.errors %}
                    {% for field in form %}
                    {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                    {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                    {% endfor %}
                    {% endif %}
                    <form method="post">
                        {% csrf_token %}
                        <div class="col-sm-12">
                            <div class="form-group formGroup">
                                <label for="" class="labelel"></label>
                                <input type="password" class="form-control formControl" name="new_password1"
                                       placeholder="New Password">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group formGroup">
                                <label for="" class="labelel"></label>
                                <input type="password" class="form-control formControl" name="new_password2"
                                       placeholder="Confirm Password">
                            </div>
                        </div>
                        <div class="CommonBtn CommonBtn2 boxs">
                            <button class="btns" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>
{% endblock body %}