<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Privacy Policy</title>
</head>
<body>
<p>Welcome! We (we,us,our) are the developer of the services offered (the Services) via our websites and mobile applications (each, a Destination). As such, we want to provide you with this, our privacy policy. Your privacy is extremely important to us. This Privacy Policy sets forth our policy with respect to personally identifiable data and other information that is collected from visitors to a Destination and users of the Services.
In order to make your visits to our Destinations both enjoyable and responsive, we collect certain information when you visit us online. Your use of our Destinations and/or the Services confirms your acceptance of this privacy policy and your agreement to be bound by it.</p>
</body>
</html>