{% extends 'base.html' %}
{% load static %}
{% block body %}
<section class="demandRight boxs">
    <div class="demandInner boxs">
        <h2 class="main">Services Details</h2>
        <div class="staticAbout padding-25 bgWhite boxs">
            <ul class="nav nav-tabs alltabs">
                <li class="active"><a data-toggle="tab" href="#home">Profile Details</a></li>
                <li><a data-toggle="tab" href="#menu1">Order History</a></li>
            </ul>
            <div class="tab-content">
                <div id="home" class="tab-pane fade in active show">
                    <div class="tableList boxs bgWhite">
                        <table id="example" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                            <tr>
                                <th>User Id</th>
                                <th>Full Name</th>
                                <th>Email Id</th>
                                <th>Phone No.</th>
                                <th>Profile Picture</th>
                                <th>Registration Date</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{object.id}}</td>
                                <td>{{object.full_name}}</td>
                                <td>{{object.email}}</td>
                                <td>{{object.phone_number}}</td>
                                <td><img src="{{object.profile_pic.url}}" alt="profile" class="img-fluid imgWidths"></td>
                                <td>{{object.created_at}}</td>

                            </tr>


                            </tfoot>
                        </table>
                    </div>
                </div>
                <div id="menu1" class="tab-pane fade">
                    <div class="tableList boxs bgWhite">
                        <table id="example" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Order Id</th>
                                <th>User Id</th>
                                <th>User Name</th>
                                <th>Date Of Order</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for booking in bookings %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{booking.id}}</td>
                                <td>{{booking.user.id}}</td>
                                <td>{{booking.user.full_name}}</td>
                                <td>{{booking.date}}</td>
                            </tr>
                            {% endfor %}

                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock body %}