<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Terms and Condition</title>
</head>
<body>
<p>The users using the application must authenticate their valid email and phone number only in the application.The User
    contact details will always be kept confidential and will not be compromised in any case. 2- Your access to, and all
    of your use of the Snap It, and/or Services must be lawful and must be in compliance with these Terms, and any other
    agreement between you and Snap It. 3- Communicating, transmitting, or posting material that infringes on any other
    intellectual property, privacy or publicity right of another. 4- Attempting to interfere in any way with the
    Website, or our networks or network security, or attempting to use our Website to gain unauthorized access to any
    other computer system. 5- Accessing data not intended for you, or logging on to a server or account, which you are
    not authorized to access.</p>
</body>
</html>