{% extends 'base.html' %}
{% block body %}
<section class="demandRight boxs">
    <div class="demandInner boxs">
        <div class="content-wrapper">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <h2 class="main">Update Category
        </h2>

        <div class="formDett padding-25 bgWhite">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-sm-12">
                        <div class="uploadImg">
                            <div class="avatar-upload">
                                <div class="avatar-edit">
                                    <input type='file' name="category_image" id="imageUpload"/>
                                    <label for="imageUpload"></label>
                                </div>
                                <div class="avatar-preview">
                                    <div id="imagePreview"
                                         style="background-image: url(http://i.pravatar.cc/500?img=7);">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group formGroup">
                            <label for="" class="labelel"></label>
                            <input type="text" name="category_name" required class="form-control formControl"
                                   placeholder="Enter the Category name." value="{{object.category_name}}">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group formGroup">
                            <label for="" class="labelel"></label>
                            <input type="text" name="category_name_arabic" required class="form-control formControl"
                                   placeholder="Category name in arabic."
                                   value="{{object.category_name_arabic}}">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group formGroup">
                            <label for="" class="labelel"></label>
                            <input type="text" name="category_order" required class="form-control formControl"
                                   placeholder="Enter the Category order." value="{{object.category_order}}">
                        </div>
                    </div>
                    <div class="CommonBtn CommonBtn2 boxs">
                        <button class="btns" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock body %}