{% extends 'base.html' %}
{% block body %}
<section class="demandRight boxs">
    <div class="demandInner boxs">
        <div class="AddService">
            <h2 class="main"> Verification Management
            </h2>

        </div>
        <div class="tableList boxs bgWhite">
            <div class="scrollAll">
                <table id="example" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Location</th>
                        <th>Date</th>
                        <th>Service Category</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>01</td>
                        <td>Deepanshu</td>
                        <td>deepanshu@gmail.com</td>
                        <td>Meerut</td>
                        <td>30-02-2021</td>
                        <td>service1</td>
                        <th><a href="verifiedDetails.html"><i class="fa fa-eye colorBlue"></i></a></th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock body %}