{% extends 'base.html' %}
{% block body %}
<section class="demandRight boxs">
    <div class="demandInner boxs">
        <h2 class="main">Sub Admin Details</h2>
        <div class="userDetails bgWhite padding-25">
            <ul class="detailsUser">
                <li class="liHead"> Profile Details</li>
            </ul>
            <ul class="detailsUser padding-left-25">
                <li><span class="first">User Id</span>{{object.id}}</li>
                <li><span class="first">Date Of Registration</span>{{object.created_at}}</li>
                <li><span class="first"> Name</span>{{object.full_name}}</li>
                <li><span class="first">Email Address</span>{{object.email}}</li>
                <li><span class="first">Phone Number</span>{{object.phone_number}}</li>
                {% if object.can_manage_user %}
                <li><span class="first">Can manage User</span>Yes</li>
                {% endif %}
                {% if object.can_manage_order %}
                <li><span class="first">Can manage Order</span>Yes</li>
                {% endif %}
                {% if object.can_manage_provider %}
                <li><span class="first">Can manage Provider</span>Yes</li>
                {% endif %}
                {% if object.can_manage_category %}
                <li><span class="first">Can manage Category</span>Yes</li>
                {% endif %}
                {% if object.can_manage_sub_category %}
                <li><span class="first">Can manage Sub-Category</span>Yes</li>
                {% endif %}

            </ul>
        </div>
    </div>
</section>
{% endblock body %}