{% extends 'base.html' %}
{% block body %}
<section class="demandRight boxs">
    <div class="demandInner boxs">
            <h2 class="main"> Offer Detail</h2>
        <div class="userDetails bgWhite padding-25">
            <ul class="detailsUser padding-left-25">
                <li><span class="first">Copoun Id</span>{{object.id}}</li>
                <li><span class="first">Coupon Code</span>{{object.coupon_code}}</li>
                <li><span class="first">Percent</span>{{object.percent}}</li>
            </ul>
        </div>
    </div>
</section>
{% endblock body %}