{% load static %}
<html lang="ar">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="تطبيق كحيلان للصيانة المنزلية وإصلاح الأثاث والأجهزة الإلكترونية">
    <meta name="keywords" content="صيانة ، كحيلان ، صيانة منزلية ، سباكة ، كهرباء ، خدمات منزلية">
    <!-- Assets Files CSS -->
    <link rel="shortcut icon" href="{% static 'website/images/icons/Icon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'website/css/main.css' %}">
    <!-- End -->
    <title>تطبيق كحيلان</title>
</head>

<body>
    <!-- Star Header -->
    <header class="top__header" id="Home">

        <div class="overlay">
            <div class="custom-shape-divider-bottom-bg">
                <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                    preserveAspectRatio="none">
                    <path
                        d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
                        class="shape-fill"></path>
                </svg>
            </div>

            <!-- Logo and menus -->
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">
                        <img src="{% static 'website/images/Logo H.png' %}" alt="شعار كحيلان">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-bars"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item">
                                <a class="nav-link active" href="#Home">الرئيسية</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#About-app">كيف يعمل كحيلان</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#features-app">مميزاتنا</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#services-app">خدماتنا</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End -->

            <!-- Content Area -->
            <div class="container content-reading text-center">
                <!-- Title -->
                <h2 class="custom-heading">
                    خدمات الصيانة المنزلية
                </h2>
                <!-- End -->

                <!-- Content text -->
                <div class="text-content">
                    <p class="text-center">
                        نُقدم لكم تجربة مميزة وفريدة لأننا نعمل من أجلكم ومن أجل تقديم خدمات صيانة للمنازل باحترافية،
                        حيث نهتم بكل مهام الصيانة المنزلية ونَطمح لتقديم هذه الخدمات بأفضل شكل وأعلى جودة، كما أننا
                        نوَفر لك الراحة وسرعة الوصول إلى فَنيين مُختصِين ومُحترفين في مجال الصيانة المنزلية .
                    </p>
                </div>
                <!-- End -->

                <div class="download-app">
                    <!-- Download Android -->
                    <a href="#" class="app-download mb-4" target="_blank">
                        <p class="btn">
                            <i class="fab fa-google-play fa-lg"></i>
                            حمل التطبيق على الأندرويد
                        </p>
                    </a>
                    <!-- End -->

                    <!-- Download App -->
                    <a href="https://apple.co/3bRCv8c" class="app-download custom-button" target="_blank">
                        <p class="btn">
                            <i class="fab fa-app-store fa-lg"></i>
                            حمل التطبيق على الآيفون
                        </p>
                    </a>
                    <!-- End -->
                </div>
            </div>
            <!-- End's -->
        </div>

    </header>
    <!-- End -->

    <!-- About APPs -->
    <section class="about" id="About-app">
        <div class="container">
            <!-- Title -->
            <div class="title-section text-center">
                <h2 class="custom-title">
                    كيف يعمل التطبيق ؟
                </h2>
                <div class="line-solid"></div>
            </div>
            <!-- End -->

            <!-- Content Mark's -->
            <div class="paragraph-marketing">
                <p class="text-area text-center mt-4">
                    التطبيق سهل الاستخدام، إنه بسيط للغاية وواضح في التعامل، وأدنـاه ستجد كيفية استعمال التطبيق في "
                    أربع خطوات " سهلة وبسيطة بدون أيّ تعقيدات .
                </p>
            </div>
            <!-- End's -->
        </div>

        <div class="container">
            <!-- Row 1 -->
            <div class="row">
                <!-- Card Two -->
                <div class="col-lg-6 col-md-6 col-sm-12 text-center">
                    <div class="how-it-shadow" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                        <!-- Icon -->
                        <div class="icon-pres">
                            <img src="{% static 'website/images/icons/choice.svg' %}" alt="اختر الخدمة">
                        </div>

                        <!-- Title -->
                        <h3 class="custom-title-how">
                            اختر الخدمة المناسبة لك
                        </h3>

                        <!-- Text Area -->
                        <p class="custom-area">
                            أول شيء عليك فعلهُ بالتأكيد هو تسجيل حساب على التطبيق، بعد ذلك ستظهر لك صفحة الخدمات، يمكنك
                            من خلالها اختيار الخدمة التي ترغب بها وذلك من خلال الضغط عليها فحسب .
                        </p>
                    </div>
                </div>
                <!-- Card Two End -->

                <!-- Card Two -->
                <div class="col-lg-6 col-md-6 col-sm-12 text-center">
                    <div class="how-it-shadow" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                        <!-- Icon -->
                        <div class="icon-pres">
                            <img src="{% static 'website/images/icons/calendar.svg' %}" alt="تحديد الوقت والتاريخ">
                        </div>

                        <!-- Title -->
                        <h3 class="custom-title-how">
                            حدد الوقت والتاريخ الذي ترغب به
                        </h3>

                        <!-- Text Area -->
                        <p class="custom-area">
                            بعد ذلك، سوف يتوجب عليك اختيار التاريخ والوقت الذي ترغب بهِ، ولأننا نعمل طوال الأسبوع،
                            فستكون لك الأريحية في اختيار أفضل وقت لديك وفي اليوم الذي ترغب بهِ حيث تكون متواجداً في
                            البيت إذا أحببتَ ذلك .
                        </p>
                    </div>
                </div>
                <!-- Card Two End -->
            </div>
            <!-- End -->

            <!-- Row 2 -->
            <div class="row">
                <!-- Card Two -->
                <div class="col-lg-6 col-md-6 col-sm-12 text-center">
                    <div class="how-it-shadow" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                        <!-- Icon -->
                        <div class="icon-pres">
                            <img src="{% static 'website/images/icons/education.svg' %}" alt="حدد المشكلة">
                        </div>

                        <!-- Title -->
                        <h3 class="custom-title-how">
                            قم بتحديد المشكلة التي تواجهها
                        </h3>

                        <!-- Text Area -->
                        <p class="custom-area">
                            هذه نقطة مهمة للغاية بالنسبة لك وإلينا، حيث سيتوجب عليك تحديد المشكلة التي تواجهها لكي نأتي
                            إليك بالتجهيزات اللازمة من أجل إصلاح المشكلة، كلما ما عليك هو أن تخبرنا بالتفصيل عن المشكلة
                            التي تواجهها .
                        </p>
                    </div>
                </div>
                <!-- Card Two End -->

                <!-- Card Two -->
                <div class="col-lg-6 col-md-6 col-sm-12 text-center">
                    <div class="how-it-shadow" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                        <!-- Icon -->
                        <div class="icon-pres">
                            <img src="{% static 'website/images/icons/help.svg' %}" alt="سيتم التواصل معك">
                        </div>

                        <!-- Title -->
                        <h3 class="custom-title-how">
                            مراسلة فريق الدعم الفني لك
                        </h3>

                        <!-- Text Area -->
                        <p class="custom-area">
                            وهذه هي آخر مرحلة، حيث سيقوم فريق الدعم الفني بالتواصل معك لكي يخبرك بالتفاصيل اللازمة من
                            حيث : السعر، مدة العمل اللازمة وغير ذلك، كما أن فريق الدعم سوف يقدم لك الإمكانيات لكي يجيب
                            على الاستفسارات الخاصة بك .
                        </p>
                    </div>
                </div>
                <!-- Card Two End -->
            </div>
            <!-- End -->
        </div>

    </section>
    <!-- End -->

    <!-- Feautres Section -->
    <section class="features" id="features-app">

        <div class="custom-shape-divider-top-features">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                preserveAspectRatio="none">
                <path d="M0,0V7.23C0,65.52,268.63,112.77,600,112.77S1200,65.52,1200,7.23V0Z" class="shape-fill"></path>
            </svg>
        </div>

        <div class="container">
            <!-- Title -->
            <div class="title-section text-center">
                <h2 class="custom-title title-features">
                    مميزات التطبيق
                </h2>
            </div>
            <!-- End -->

            <!-- Content Mark's -->
            <div class="paragraph-marketing">
                <p class="text-area text-center mt-4">
                    تطبيق " كحيلان " يتميز بالعديد من الميزات التي تجعله فريداً من نوعه عن باقي التطبيقات التي تعمل في
                    نفس المجال، وأدنــاه ستجد قائمة بأقوى المميزات التي يوفرها التطبيق .
                </p>
            </div>
            <!-- End's -->
        </div>

        <div class="container">

            <div class="row">
                <div class="col-lg-4 col-md-12" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                    <!-- Featured 1 -->
                    <div class="fearured-app text-center">
                        <!-- Icon -->
                        <div class="icon-featured">
                            <img src="{% static 'website/images/icons/mobile-application.svg' %}" alt="سريع التصفح بتصميم مميز">
                        </div>

                        <!-- Title -->
                        <div class="custom-title">
                            <h4 class="heading-featured">
                                تطبيق سريع التصفُح
                            </h4>
                        </div>

                        <!-- Content Area -->
                        <div class="contant-text">
                            <p class="small-description">
                                تطبيق " كحيلان " سريع وخفيف للغاية، لن تجد مشكلة في تصفح عناصرهِ وصفحاتهِ أو طلب أي خدمة
                                منه، حيث تم تكويدهُ
                                وبرمجته بكود نظيم يرفع من جودة سرعتهِ بأقصى شيء ممكن
                            </p>
                        </div>

                        <!-- Number One -->
                        <div class="number-bottom">
                            <h3 class="custom-number">01</h3>
                        </div>
                    </div>
                    <!-- End -->
                </div>

                <div class="col-lg-4 col-md-12" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                    <!-- Featured 1 -->
                    <div class="fearured-app text-center">
                        <!-- Icon -->
                        <div class="icon-featured">
                            <img src="{% static 'website/images/icons/repair.svg' %}" alt="إعادة الهيكلة">
                        </div>

                        <!-- Title -->
                        <div class="custom-title">
                            <h4 class="heading-featured">
                                إصلاح وصيانة
                            </h4>
                        </div>

                        <!-- Content Area -->
                        <div class="contant-text">
                            <p class="small-description">
                                ليست هذه هي النسخة الأخيرة لـ " كحيلان " بل يتم تطوير بشكل دوري، لكي يبقى دائماً نشطاً،
                                كما أنه يتم مراقبتهُ بانتظام وهذا من أجل إصلاح الأخطاء البرمجية التي قد تتعرض له مع مرور
                                الوقت
                            </p>
                        </div>

                        <!-- Number One -->
                        <div class="number-bottom">
                            <h3 class="custom-number">02</h3>
                        </div>
                    </div>
                    <!-- End -->
                </div>

                <div class="col-lg-4 col-md-12" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                    <!-- Featured 1 -->
                    <div class="fearured-app text-center">
                        <!-- Icon -->
                        <div class="icon-featured">
                            <img src="{% static 'website/images/icons/reservation.svg' %}" alt="نظام الحجز">
                        </div>

                        <!-- Title -->
                        <div class="custom-title">
                            <h4 class="heading-featured">
                                نظام حجز الموعد
                            </h4>
                        </div>

                        <!-- Content Area -->
                        <div class="contant-text">
                            <p class="small-description">
                                يوفّر التطبيق ميزة نظام حجز المواعيد، بمعنى أنك ترغب في إصلاح أو
                                صيانة شيء ما، فأنت بذلك يتوجب عليك تحديد الخدمة مع اختيار الوقت والتاريخ لكي يتم إرسال
                                الفريق المتخصص إليك في الوقت المُحدد
                            </p>
                        </div>

                        <!-- Number One -->
                        <div class="number-bottom">
                            <h3 class="custom-number">03</h3>
                        </div>
                    </div>
                    <!-- End -->
                </div>
            </div>

            <div class="row">

                <div class="col-lg-4 col-md-12" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                    <!-- Featured 1 -->
                    <div class="fearured-app text-center">
                        <!-- Icon -->
                        <div class="icon-featured">
                            <img src="{% static 'website/images/icons/customer-review.svg' %}" alt="تقييم فريق العمل">
                        </div>

                        <!-- Title -->
                        <div class="custom-title">
                            <h4 class="heading-featured">
                                نظام تقييم الخدمات
                            </h4>
                        </div>

                        <!-- Content Area -->
                        <div class="contant-text">
                            <p class="small-description">
                                أهم ميزة يوفرها التطبيق وهي " نظام تقييم الخدمات " أيّ أنك عندما تقوم بحجز خدمة معينة،
                                ويتم تنفيذها من قِبل الفريق المتخصص، ستكون لك الصلاحية الكاملة في تقييم الخدمة وتقييم
                                الفريق من " نجمة واحدة إلى 5 نجوم "
                            </p>
                        </div>

                        <!-- Number One -->
                        <div class="number-bottom">
                            <h3 class="custom-number">04</h3>
                        </div>
                    </div>
                    <!-- End -->
                </div>

                <!-- <div class="col-lg-4 col-md-12" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                    <div class="fearured-app text-center">
                        <div class="icon-featured">
                            <img src="images/icons/secure.svg" alt="تطبيق محممي">
                        </div>

                        <div class="custom-title">
                            <h4 class="heading-featured">
                                آمن ومحمي بشكل أقوى
                            </h4>
                        </div>

                        <div class="contant-text">
                            <p class="small-description">
                                التطبيق تم تنفيذه بأقوى لغة برمجية هذا يعني أنّ التطبيق محمي وآمن بشكل أقوى ولا داعي لكي
                                ترتاب من شيء، يمكنك تصفحه وأنت مطمئن وعلى راحتك، حيث أننا نراقب حماية التطبيق بين الحين
                                والآخر حتى يبقى آمناً ومحمياً في كل الأوقات
                            </p>
                        </div>

                        <div class="number-bottom">
                            <h3 class="custom-number">05</h3>
                        </div>
                    </div>
                </div> -->

                <div class="col-lg-4 col-md-12" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                    <!-- Featured 1 -->
                    <div class="fearured-app text-center">
                        <!-- Icon -->
                        <div class="icon-featured">
                            <img src="{% static 'website/images/icons/linguistics.svg' %}" alt="متوفر بلغتين">
                        </div>

                        <!-- Title -->
                        <div class="custom-title">
                            <h4 class="heading-featured">
                                متوفر بالعربية والإنجليزية
                            </h4>
                        </div>

                        <!-- Content Area -->
                        <div class="contant-text">
                            <p class="small-description">
                                " كحيلان " تطبيق متوفر بأشهر اللغات : " العربية والإنجليزية " يمكنك اختيار اللغة التي
                                ترغب بها والتي ترتاح في تصفح التطبيق من خلالها، عند فتح التطبيق أول مرة سوف تظهر لك
                                خيارات اللغة، وعليك اختيار إحداهـا .
                            </p>
                        </div>

                        <!-- Number One -->
                        <div class="number-bottom">
                            <h3 class="custom-number">05</h3>
                        </div>
                    </div>
                    <!-- End -->
                </div>

            </div>

        </div>

    </section>
    <!-- End -->

    <!-- Section services -->
    <section class="services" id="services-app">
        <div class="container">
            <!-- Title -->
            <div class="title-section text-center">
                <h2 class="custom-title title-features">
                    خدمـات نقدمها
                </h2>
                <div class="line-solid-features"></div>
            </div>
            <!-- End -->

            <!-- Content Mark's -->
            <div class="paragraph-marketing">
                <p class="text-area text-center mt-4">
                    إننا نقدم العديد من الخدمات في مجال الصيانة والإصلاح، حيث يمكنك الاستفادة منها بأفضل شكل، فقط اطمئن
                    إننا نقد لك أفضل الخدمات مع أفضل المتخصصين والفنيين المحترفين في المجال
                </p>
            </div>
            <!-- End's -->
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                    <!-- number -->
                    <div class="card-services text-center">
                        <div class="number">
                            <h3 class="custom-number-service">
                                01
                            </h3>
                        </div>

                        <!-- Title -->
                        <h4 class="custom-services">
                            خدمة السباكة
                        </h4>
                        <!-- End -->

                        <!-- Description -->
                        <div class="text-description">
                            <p>
                                نوفر لكم فنيين متخصصين في السباكة بجميع أنواعها، حيث أننا نوفر لكم أيضاً
                                متدربين بأعلى مستوى لكي يقوموا بحل مشاكلكم
                                من أجل إنجاز مهامٍ متعددة، كما أنه لدينا فريق خاص بتنفيذ خدمات السباكة حيث يقوم
                                بتنفيذ عملهِ على أكمل وجه.
                            </p>
                        </div>
                        <!-- End -->
                    </div>
                </div>

                <!-- Another Services -->

                <div class="col-lg-4 col-md-12" data-aos="fade-up" data-aos-anchor-placement="top-bottom">

                    <div class="card-services text-center">
                        <div class="number">
                            <h3 class="custom-number-service">
                                02
                            </h3>
                        </div>


                        <h4 class="custom-services">
                            خدمات الكهرباء
                        </h4>

                        <div class="text-description">
                            <p>
                                يتم تقديم لكم فنيين متخصصين بأعلى مستوى في مجال الكهرباء لديه خبرة عالية
                                يقوم بإصلاح كافة المشاكل الكهربائية التي قد تواجهك في بيتك أو شركتك، لذلك إذا كانت لديك
                                أدنى مشكلة
                                في الكهرباء وعجزت عن حلّ المشكلة، يرجى الاتصال بنا بأسرع وقت.
                            </p>
                        </div>

                    </div>
                </div>

                <!-- <div class="col-lg-4 col-md-12" data-aos="fade-up" data-aos-anchor-placement="top-bottom">

                    <div class="card-services text-center">
                        <div class="number">
                            <h3 class="custom-number-service">
                                03
                            </h3>
                        </div>


                        <h4 class="custom-services">
                            إصلاح الوسائل الكهربائية
                        </h4>

                        

                        <div class="text-description">
                            <p>
                                تواجه مشاكل كهربائية في منزلك أو سيارتك أو في أحد الأجهزة لديك، نحن نوفر لك فريق آخر
                                متخصص ذو كفاءة وجودة في عمله يقوم بإصلاح كافة المشاكل الكهربائية .
                            </p>
                        </div>

                    </div>
                </div> -->

                <!-- End -->
            </div>
        </div>
    </section>
    <!-- End -->

    <!-- Section Contact Me -->
    <section class="contact-me">
        <div class="overlay-me">

            <div class="custom-shape-divider-top-contact">
                <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                    preserveAspectRatio="none">
                    <path
                        d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
                        class="shape-fill"></path>
                </svg>
            </div>

            <div class="container">
                <div class="row">

                    <div class="title-heading">
                        <h3 class="custom-contact text-center">
                            راسلنا عبر الواتس آب
                        </h3>
                    </div>

                    <div class="text-contact">
                        <p class="text-center">
                            يمكنك التواصل معنا على الفور من أجل طلب المساعدة أو لأي استفسار لديك حول التطبيق عن طريق
                            الواتس آب
                        </p>
                    </div>

                    <div class="contact-whatsapp text-center">
                        <a href="https://api.whatsapp.com/send?phone=0123456789&text=مرحباً بك، تفضل نحن في الخدمة"
                            target="_blank" class="nav-link-whatsapp">
                            <i class="fab fa-whatsapp fa-lg"></i>
                            اترك رسالتك لنا
                        </a>
                    </div>

                </div>
            </div>

        </div>
    </section>
    <!-- End -->

    <!-- Footer -->
    <footer class="footer-bottom">
        <div class="copyright">
            <p class="text-center">
                &copy; جميع الحقوق محفوظة | 2021 - 2022
            </p>
        </div>
    </footer>
    <!-- End -->

    <!-- Assets Files Js  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- End -->

    <script>
        AOS.init();
    </script>

</body>

</html>